#headPage
{
  text-align: center;
}
label{
  font-size: 20px;
  /*display: contents;*/
/*  OBLIGER// POUR METTRE LABEL EN MEME LIGNE
*/}

#bouttonValider
{
  width: 30%;
}

#defaultConfig
{
  width: 30%;
  background-color: #adcd97;
  border-color: #a1a79c;
}

span
{
  /*display: block ruby;*/
  /*width: 50%;*/

  /*//OBLIGATOIRE POUR AVOIR EN INLINE LES NOMS + INPUT*/
}

#contenueOption
{
  background-color: white;
  /*text-align: center;*/
  /*border: solid;*/
  margin-top: 15px;
  margin-bottom: 15px;
  /*padding: 20px;*/
}

audio
{
  width: 100%;
}

.table
{
  vertical-align: middle;
  margin-bottom: 0;
}

table
{
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-top: solid;
    border-width: 1px;
}

.btn
{
  color: #fff;
}

td
{
    text-align: center;
    vertical-align: middle;
}

.tdNomFichier
{
  width: 40%;
}

.tdContenueAudio
{
  width: 49%;
}

.tdRadioBox
{
  width: 1%;
}

.tdDeleteButton
{
  width: 1%;
}

@media (max-width: 767.98px) 
{
    #spanAudioAlert
    {
      text-align: center;
    }
}

.row, .d-inline-flex:not(div[name="divAudioAlert"], div[name="divContenueAudioAlert"])
{
  margin-top: 15px;
  /*margin-bottom: 15px;*/
}


#divValider
{
  text-align: center;
  margin-top: 15px;
}

input, select
{
  text-align: center;
}

#fileAudio
{
  text-align: left;
  /*text-align: center;*/
  display: initial;
}

input[type=color] {
    display: none;
}

.colorCircle 
{
  border-radius: 50%;
  width: 25px;
  height: 25px; 
  background-color:#ff0c00;
  display:inline-block;
}

.dropdown-menu
{
  min-width: 5rem;
  padding: 0;
  background-color: #6c757d;
border-color: #6c757d;
}

.dropdown-item
{
  padding: 0.25rem 0rem;
  color:#fff;
/*  margin-left: 15px;
  margin-right: 15px;*/
}
.dropdown-menu.show
{
  display: grid;
}

.btn-group
{
  height: 65px;
}

#divHeureArretAutomatique
{
  display: none;
  margin-bottom: 10px;
}